
footer {
  background-color: map-get($estilos, tercero);
  min-width: 100px;
  p {
    color: #f3f3f3;
    text-align: center;
  }
}

#iconos {
  i {
    font-size: 26px;
    padding: 0 8px;
    color: #f3f3f3;
  }
}
