

/* 
  <!-- ================================================= -->
  <!-- MAPA -->
  <!-- ================================================= --> */
$estilos: (
  /*Declaramos nuestro mapa*/ 
  primario: #add8e6,
  secundario: #edf6f9,
  tercero: #dc3545,
  cuarto: #f4978e,
  trasparente: transparent,
  centro: center
);


/* 
  <!-- ================================================= -->
  <!-- MIXINS -->
  <!-- ================================================= --> */

  @mixin tamaños ($width,$height){
    height: $height;
    width: $width;
  }

html {
  margin: 0;
  padding: 0;
  font-size: 62, 5%;
}
.body {
  font-family: "Roboto Serif", sans-serif;
  overflow-x: hidden;
  background-color: map-get($estilos, primario);
}




/* 
  <!-- ================================================= -->
  <!-- ENCABEZADO -->
  <!-- ================================================= --> */
#iconos-encabezado {
  i {
    font-size: 26px;
    padding: 0 8px;
    background-color: map-get($estilos, trasparente);
    transition: background-color 0.5s;
    &:hover {
      @extend #menu;
    }
  }
}

#menu {
  button {
    font-size: 15px;
    font-weight: bold;
  }
  a {
    font-size: 25px;
    font-weight: bold;
    color: #dc3445;
    background-color: transparent;
    transition: background-color 0.5s;
    &:hover {
      background-color: map-get($estilos, cuarto);
    }
  }
}

/* 
<!-- ================================================= -->
<!-- DESCRIPCION -->
<!-- ================================================= --> */
#descripcion{
  background-color: map-get($estilos, secundario);
}
/* 
  <!-- ================================================= -->
  <!-- SECCION: SLIDER DE IMAGENES -->
  <!-- ================================================= -->
   */

.carousel-inner {
  margin-top: 100px;
  margin: auto;
  max-height: 39rem;
  max-width: 39rem;
}

/* 
  <!-- ================================================= -->
  <!-- SECCION: INTRODUCCION-->
  <!-- ================================================= -->
   */

#los-mejores-de-medellin {
  a {
    transition: background-color 0.5s;
  }
  &:hover {
    background-color: lightcyan;
  }
}
#te-puede-interesar {
  background-color: map-get($estilos, secundario);
}
/* 
  <!-- ================================================= -->
  <!-- SECCION: PRUEBA ESTO-->
  <!-- ================================================= -->
   */
#prueba-esto-titulo {
 @extend #iconos-encabezado;
}

#prueba-esto {
  @extend #te-puede-interesar;
}
/* 
  <!-- ================================================= -->
  <!-- SECCION: VIDEO RECETA-->
  <!-- ================================================= -->
   */

.video {
  @extend .body;
  padding-bottom: 5px;
  display: flex;
  justify-content: center;

  #video {
    background-clip: url(https://www.youtube.com/watch?v=2IOl1htRC5A);
    width: 100%;
    height: 500px;
  }
}
iframe {


  @include tamaños(700px,500px)
}

.wrapper {
  width: 50%;
  margin-left: 100px;
  padding-top: 150px;
}

/* 
  <!-- ================================================= -->
  <!-- SECCION: ACERCA DE MI-->
  <!-- ================================================= -->
   */
#sobre-mi {
  @extend #te-puede-interesar;
}
#boton{
  display: none;
}



/* 
  <!-- ================================================= -->
  <!-- FOOTER-->
  <!-- ================================================= -->
   */
   @import "footer"; 
/* 
  <!-- ================================================= -->
  <!-- MEDIA QUERIES LG-->
  <!-- ================================================= -->
   */

@media (max-width: 1200px) {
  .video {
    flex-wrap: wrap;
    padding-top: 30px;
  }

  .wrapper {
    width: 90%;
    margin: auto;
    padding-top: 50px;
  }
}

/* 
  <!-- ================================================= -->
  <!-- MEDIA QUERIES SM-->
  <!-- ================================================= -->
   */
@media (max-width: 768px) {
  #boton{
    display: block;
  }
  #sobre-mi-texto p {
    display: none;
  }
  #sobre-mi-texto {
    margin-bottom: 1px;
  }

  #sobre-mi-foto {
    margin-top: 2px;
  }
  #te-puede-interesar {
    width: 90% !important;
  }
  #prueba-esto-titulo {
    width: 90% !important;
  }
  .prueba-esto-fila {
    width: 100% !important;
    text-align: center;
  }

  #bg-footer {
    top: -82px;
  }
}

/* 
  <!-- ================================================= -->
  <!-- MEDIA QUERIES XSM-->
  <!-- ================================================= -->
   */

@media (max-width: 576px) {
  #boton{
    display: block;
  }
  .icono-wrap {
    flex-wrap: wrap;
    justify-content: center !important;
  }

  iframe {
    width: 320px;
    height: 250px;
  }
}
