html {
  font-size: 62, 5%;
  font-family: "Roboto Serif", serif;
}
.body {
  height: auto;
  background-color: transparent;
  font-size: 1rem;
  line-height: 1.6rem;
  margin: 0;
}

/*-------------SECCION HEADER(NO NECESITA CAMBIO)-------------*/
/* .mostrar_menu,
.esconder_menu {
  font-size: 30px;
  cursor: pointer;
  display: none;
  transition: 0.4s;
}
.mostrar_menu {
  order: 1;
}

#check {
  display: none;
}
 */
/* ----------SECCION HEADER---------- */
.header {
  background-color: #ad2e24;
  padding: 0;
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
}

.header a {
  font-weight: bold;
  color: #48bfe3;
  text-decoration: none;
  padding: 8px 0;
}

.header .navegador {
  background-color: transparent;
  text-align: center;
  padding: 37px 0;
}

/*-------------SECCION NAVEGADOR-------------*/
.navegador {
  border: #ffffff 5px solid;
  border-radius: 1.5px;
  background-image: url(IdealTrip.png);
  background-size: 250px;
  background-repeat: no-repeat;
  background-position: top left;
}

.navegador li {
  margin: 0;
  padding: 0;
  list-style: none;
  display: inline-block;
  font-size: 25px;
  padding: 10px;
}

.navegador li a:hover {
  background: #ffffff;
  transition: all 0.3s linear;
  border-radius: 5px;
  border: 1px 1px;
}

/*-------------SECCION MAIN------------*/
.main {
  padding-top: 5rem;
  margin: 50px 0;
  background-color: transparent;
}

.grillas {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 450px 550px 450px 340px;
  grid-template-areas:
    "contenido_principal"
    "prueba_esto "
    "video_de_receta"
    "sobre_mi ";
  /* grid-column-gap: 10px;
  grid-row-gap: 15px; */
}

/*-------------CONTENIDO PRINCIPAL------------*/
.contenido_principal {
  background-color: lightcoral /* #48BFE3 */;
  padding: 20px;
  grid-area: contenido_principal;
  display: grid;
  grid-template-areas: "galeria descripcion ";
  grid-template-columns: 35% 50%;
  text-align: center;
  grid-column-gap: 3px;
  grid-row-gap: 15px;
  align-items: center;
  justify-content: center;
}
.titulo_descripcion {
  font-size: small;
  text-align: center;
}
.titulo_parrafo {
  margin: 30px;
  text-align: left;
}
.titulo_parrafo a {
  color: red;
  text-decoration: none;
}

.titulo_parrafo a:hover {
  background: #ffffff;
  transition: all 0.3s linear;
  border-radius: 3px;
  border: 1px 1px;
}
.parrafo_descripcion {
  margin: 30px;
  font-size: 16px;
  text-align: center;
}
.costo {
  margin: 30px;
  text-align: left;
  color: red;
}
.descripcion {
  border: 5px solid #7400b8;
  font-size: 15px;
  height: 80%;
  grid-area: descripcion;
  text-align: center;
  background-color: transparent;
}
.galeria {
  grid-area: galeria;
  background-color: #d6a24c;
  background-position: center;
  height: 100%;
  background-image: url(BannerBMS.png);
  background-repeat: no-repeat;
  background-size: 366px;
}
/*-------------CONTENIDO PRINCIPAL------------*/

/* -------------------------PRUEBA ESTO------------------------------ */
/* MOUSE IN */
.prueba_esto:hover {
  background-color: #ad2e24;
  transition: 0.6s;
}
/* MOUSE OUT */
.prueba_esto:not(:hover) {
  background-color: #48bfe3;
  transition: 0.6s;
}
.prueba_esto {
  display: flex;
  text-align: center;
  grid-area: prueba_esto;
  background-color: #48bfe3;
  padding: 50px;
  flex-direction: column;
  align-content: center;
}
.grillas_prueba_esto {
  display: grid;
  grid-template-areas: "receta_1 descripcionR1 receta_2 descripcionR2";
  grid-template-columns: 30% 20% 30% 20%;
  height: 100%;
  grid-column-gap: 10px;
  grid-row-gap: 15px;
  background-color: transparent;
}
.receta_1 {
  grid-area: receta_1;
  background-image: url(Enpanadas.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-color: green;
}
.descripcionR1 {
  /* display: none; */
  grid-area: descripcionR1;
  background-color: lightgreen;
}

.receta_2 {
  grid-area: receta_2;
  background-image: url(Picada.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-color: pink;
}

.descripcionR2 {
  /* display: none; */
  grid-area: descripcionR2;
  background-color: lightpink;
}

.boton1 {
  display: inline-block;
  font-family: "Roboto Serif", serif;
  font-weight: 500;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 50px;
  font-size: 20px;
  background-color: #141414;
  color: #ffffff;
  border: none;
  cursor: pointer;
  text-transform: uppercase;
  transition: 0.3s ease all;
  border-radius: 5px;
  position: relative;
  overflow: hidden;
}
.boton1 span {
  position: relative;
  z-index: 2;
  transition: 0.3 ease all;
}
.boton1::after {
  content: "";
  width: 100%;
  height: 100%;
  background-color: red;
  position: absolute;
  z-index: 1;
  top: -50px;
  left: 0;
  transition: 0.3s ease-in-out;
}

.boton1:hover::after {
  top: 0;
}

.boton2 {
  display: inline-block;
  font-family: "Roboto Serif", serif;
  font-weight: 500;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 50px;
  font-size: 20px;
  background-color: #141414;
  color: #ffffff;
  border: none;
  cursor: pointer;
  text-transform: uppercase;
  transition: 0.3s ease all;
  border-radius: 5px;
  position: relative;
  overflow: hidden;
}
.boton2 span {
  position: relative;
  z-index: 2;
  transition: 0.3 ease all;
}
.boton2::after {
  content: "";
  width: 100%;
  height: 100%;
  background-color: red;
  position: absolute;
  z-index: 1;
  top: -50px;
  left: 0;
  transition: 0.3s ease-in-out;
}

.boton2:hover::after {
  top: 0;
}

/* -------------------------VIDEO RECETA RECETA------------------------------ */

.video_receta {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  grid-area: video_de_receta;
  background-color: #5e60ce;
  padding: 20px;
  align-content: space-around;
  align-items: center;
}
.video_receta h1 {
  text-align: center;
}

/* ------------------------SOBRE MI------------------------------- */

.sobre_mi {
  grid-area: sobre_mi;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: stretch;
  align-items: center;
  flex-wrap: wrap;

  padding: 20px;
  text-align: center;
  background-color: #48bfe3;
}

.grillas_sobre_mi {
  align-items: center;
  text-align: center;
  justify-content: center;
  display: grid;
  grid-template-areas: "foto_de_perfil biografia_corta";
  grid-template-columns: 50% 50%;
  grid-column-gap: 10px;
}
.foto_de_perfil {
  height: 230px;
  background-image: url(https://placedog.net/420);
  background-repeat: no-repeat;
  background-size: 20%;
  background-position: center;
  background-color: azure;
  grid-area: foto_de_perfil;
}

.biografia_corta {
  background-color: blanchedalmond;
  grid-area: biografia_corta;
}

/* --------------------------FOOTER----------------------------- */

.footer {
  color: #48bfe3;
  background-image: url(IdealTripLogo.png);
  background-repeat: no-repeat;
  background-size: 120px;
  background-position: 2% 10%;
  background-color: #7400b8;
  border: #ffffff 3px solid;
  border-radius: 5px;
  border: 1px 1px;
  width: 100%;
  height: 200px;
}

.footer .grupo1 {
  display: flex;
  width: 100%;
  max-width: 1200px;
  margin: 0px;
  justify-content: center;
}

/* -------------RESPONSIVE ANDROID-------------------*/

@media screen and (max-width: 425px) {
  .header .navegador {
    background-position: bottom center;
    background-size: 50px;
    padding: 42px 0px;
  }
  .video_receta {
    width: 113%;
  }
  .sobre_mi {
    width: 113%;
  }
  .grillas {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 510px 700px 450px 340px;
    grid-template-areas:
      "contenido_principal"
      "prueba_esto "
      "video_de_receta"
      "sobre_mi ";
    grid-column-gap: 10px;
    grid-row-gap: 15px;
  }

  .grillas_prueba_esto {
    display: grid;
    grid-template-areas:
      "receta_1 descripcionR1"
      "receta_2 descripcionR2";
    grid-template-columns: 50% 50%;
    grid-column-gap: 10px;
    grid-row-gap: 15px;
    background-color: transparent;
  }
  .grillas_sobre_mi {
    padding: 1px;
    text-align: center;
    display: grid;
    grid-template-areas: "foto_de_perfil biografia_corta";
    grid-template-columns: 50% 50%;
    grid-column-gap: 10px;
  }

  .prueba_esto {
    width: 100%;
    padding: 50px;
    align-content: center;
  }

  .navegadorLista ul {
    text-align: center;
  }
  .navegadorLista a {
    font-size: 15px;
    display: inline-block;
    padding: 3px;
  }
  .grupo1 {
    background-size: 50px;
  }
  .box2 {
    font-size: 7px;
    background-size: 50px;
  }

  .box3 {
    font-size: 7px;
    background-size: 50px;
  }
  .footer {
    padding: 46px;
    font-size: 7px;
    background-image: url(IdealTripLogo.png);
    background-repeat: no-repeat;
    background-size: 50px;
    background-position: 3% 20%;
    background-color: #7400b8;
    border: #ffffff 3px solid;
    border-radius: 5px;
    border: 1px 1px;
  }

  .footer .grupo1 {
    background-size: 50px;
    justify-content: center;
  }
}

/* RESPONSIVE TABLET*/
@media screen and (max-width: 780px) {
  .contenido_principal {
    padding: 20px;
    flex-direction: row;
  }

  .prueba_esto {
    padding: 50px;
    align-content: center;
  }
  .navegador {
    background-position: top left;
    background-image: url(IdealTripLogo.png);
    background-size: 100px;
  }
  .navegadorLista ul {
    text-align: center;
  }
  .navegadorLista a {
    font-size: 15px;
    display: inline-block;
    padding: 3px;
  }
  .footer {
    font-size: 11.5px;
    background-image: url(IdealTripLogo.png);
    background-repeat: no-repeat;
    background-size: 100px;
    background-position: 3% 20%;
    background-color: #7400b8;
    border: #ffffff 3px solid;
    border-radius: 5px;
    border: 1px 1px;
  }

  .footer .grupo1 {
    justify-content: center;
  }

  /* .mostrar_menu,
.esconder_menu{
  display: block;
} */
  /* .navegadorLista {
    position: fixed;
    width: 100%;
    height: 100vh;
    right: -90%;
    top: 0;
    text-align: center;
    padding: 100px 0px;
    z-index: 100;
    transition: 0.8s;
  } */

  /* .esconder_menu{
  position: absolute;
  top:40px;
  right: 40px;
}
#check:checked ~ .navegadorLista{
  right: 10;
} */
}
