html {
  font-size: 62, 5%;
  font-family: "Roboto Serif", serif;
}
.body {
  height: auto;
  background-color: #5e60ce;
  font-size: 1rem;
  line-height: 1.6rem;
  margin: 0;
}

/*-------------SECCION HEADER(NO NECESITA CAMBIO)-------------*/

.header {
  background-color: #7400b8;
  padding: 0;
  /*----------------------*/
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
}

/*-------------SECCION HEADER DEL CONTENIDO DE LA LISTA-------------*/

.header a {
  font-weight: bold;
  color: #48bfe3;
  text-decoration: none;
  padding: 8px 0;
}

.header .navegador {
  background-color: transparent;
  text-align: center;
  padding: 34px 0;
}

/* .mostrar_menu,
.esconder_menu {
  font-size: 30px;
  cursor: pointer;
  display: none;
  transition: 0.4s;
}
.mostrar_menu {
  order: 1;
}

#check {
  display: none;
}
 */
/*-------------SECCION NAVEGADOR-------------*/
.navegador {
  border: #ffffff 3px solid;
  border-radius: 10px;
  background-image: url(IdealTrip.png);
  background-size: 250px;
  background-repeat: no-repeat;
  background-position: top left;
}

.navegador ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.navegador ul li {
  display: inline-block;
  font-size: 25px;
  padding: 10px;
}

.navegador ul li a:hover {
  background: #ffffff;
  transition: all 0.3s linear;
  border-radius: 5px;
  border: 1px 1px;
}

.grillas {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 450px 600px 450px 340px;
  grid-template-areas:
    "contenido_principal"
    "prueba_esto "
    "video_de_receta"
    "sobre_mi ";
  grid-column-gap: 10px;
  grid-row-gap: 15px;
}

/*-------------SECCION MAIN------------*/
.main {
  padding-top: 5rem;
  margin: 50px 0;
  background-color: transparent;
}
/*-------------CONTENIDO PRINCIOPAL------------*/
.contenido_principal {
  padding: 20px;
  grid-area: contenido_principal;
  display: grid;
  grid-template-areas: "galeria descripcion";
  grid-template-columns: 50% 50%;
  text-align: center;
  grid-column-gap: 3px;
  grid-row-gap: 15px;
  align-items: center;
  justify-content: center;
}
.descripcion {
  grid-area: descripcion;
  text-align: center;
  background-color: aquamarine;
}

.galeria {
  grid-area: galeria;
  background-color: lightcoral;
  background-position: center;
  height: 100%;
  background-image: url(https://place.dog/300/200);
  background-repeat: no-repeat;
  background-size: 300px;
}

/* -------------------------PREUBA ESTO------------------------------ */
.prueba_esto {
  display: flex;
  text-align: center;
  grid-area: prueba_esto;
  background-color: lightskyblue;
  padding: 100px;
  flex-direction: column;
  align-content: center;
}
.grillas_prueba_esto {
  display: grid;
  grid-template-areas: "receta_1 descripcionR1 receta_2 descripcionR2";
  grid-template-columns: 25% 25% 25% 25%;
  grid-column-gap: 10px;
  grid-row-gap: 15px;
  background-color: transparent;
}
.receta_1 {
  grid-area: receta_1;
  background-image: url(https://placedog.net/500);
  background-color: green;
}
.descripcionR1 {
  grid-area: descripcionR1;
  background-color: lightgreen;
}

.receta_2 {
  grid-area: receta_2;
  background-image: url(https://placedog.net/500);
  background-color: pink;
}

.descripcionR2 {
  grid-area: descripcionR2;
  background-color: lightpink;
}

/* -------------------------RECETAS------------------------------ */

.video_receta {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  grid-area: video_de_receta;
  /* text-align: center; */
  background-color: lightslategray;
  padding: 20px;
  align-content: space-around;
  align-items: center;
}
.video_receta h1 {
  text-align: center;
}

/* ------------------------SOBRE MI------------------------------- */

.sobre_mi {
  grid-area: sobre_mi;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: stretch;
  align-items: center;
  flex-wrap: wrap;

  padding: 20px;
  text-align: center;
  background-color: lightblue;
}

.grillas_sobre_mi {
  text-align: center;
  display: grid;
  grid-template-areas: "foto_de_perfil biografia_corta";
  grid-template-columns: 50% 50%;
  grid-column-gap: 10px;
}
.foto_de_perfil {
  background-color: azure;
  grid-area: foto_de_perfil;
}

.biografia_corta {
  background-color: blanchedalmond;
  grid-area: biografia_corta;
}

/* --------------------------FOOTER----------------------------- */

.footer {
  background-image: url(IdealTripLogo.png);
  background-repeat: no-repeat;
  background-size: 120px;
  background-position: 2% 10%;
  background-color: #7400b8;
  border: #ffffff 3px solid;
  border-radius: 5px;
  border: 1px 1px;
  width: 100%;
  height: 200px;
}

.footer .grupo1 {
  display: flex;
  width: 100%;
  max-width: 1200px;
  margin: 0px;
  justify-content: center;
}

/* RESPONSIVE ANDROID*/
@media screen and (max-width: 425px) {
  .grillas {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 380px 790px 450px 450px;
    grid-template-areas:
      "contenido_principal"
      "prueba_esto "
      "video_de_receta"
      "sobre_mi ";
    grid-column-gap: 10px;
    grid-row-gap: 15px;
  }
  .contenido_principal {
    width: 112%;
    padding: 20px;
    grid-area: contenido_principal;
    display: grid;
    grid-template-areas: "galeria galeria descripcion descripcion";
    grid-template-columns: 150px 100px 100px 150px;
    text-align: center;
    grid-column-gap: 3px;
    grid-row-gap: 15px;
    align-items: center;
    justify-content: center;
  }
  .grillas_prueba_esto {
    display: grid;
    grid-template-areas:
      "receta_1 descripcionR1"
      "receta_2 descripcionR2";
    grid-template-columns: 50% 50%;
    grid-column-gap: 10px;
    grid-row-gap: 15px;
    background-color: transparent;
  }
  .grillas_sobre_mi {
    padding: 1px;
    text-align: center;
    display: grid;
    grid-template-areas: "foto_de_perfil biografia_corta";
    grid-template-columns: 50% 50%;
    grid-column-gap: 10px;
  }

  .prueba_esto {
    width: 100%;
    padding: 50px;
    align-content: center;
  }
  .navegador {
    background-position: center;
    background-image: url(IdealTripLogo.png);
    background-size: 50px;
  }
  .navegadorLista ul {
    text-align: center;
  }
  .navegadorLista a {
    font-size: 15px;
    display: inline-block;
    padding: 3px;
  }
  .footer {
    font-size: 11.5px;
    background-image: url(IdealTripLogo.png);
    background-repeat: no-repeat;
    background-size: 100px;
    background-position: 3% 20%;
    background-color: #7400b8;
    border: #ffffff 3px solid;
    border-radius: 5px;
    border: 1px 1px;
  }

  .footer .grupo1 {
    justify-content: center;
  }
}

/* RESPONSIVE TABLET*/
@media screen and (max-width: 780px) {
  .contenido_principal {
    padding: 20px;
    flex-direction: row;
  }

  .prueba_esto {
    padding: 50px;
    align-content: center;
  }
  .navegador {
    background-position: top left;
    background-image: url(IdealTripLogo.png);
    background-size: 100px;
  }
  .navegadorLista ul {
    text-align: center;
  }
  .navegadorLista a {
    font-size: 15px;
    display: inline-block;
    padding: 3px;
  }
  .footer {
    font-size: 11.5px;
    background-image: url(IdealTripLogo.png);
    background-repeat: no-repeat;
    background-size: 100px;
    background-position: 3% 20%;
    background-color: #7400b8;
    border: #ffffff 3px solid;
    border-radius: 5px;
    border: 1px 1px;
  }

  .footer .grupo1 {
    justify-content: center;
  }

  /* .mostrar_menu,
.esconder_menu{
  display: block;
} */
  /* .navegadorLista {
    position: fixed;
    width: 100%;
    height: 100vh;
    right: -90%;
    top: 0;
    text-align: center;
    padding: 100px 0px;
    z-index: 100;
    transition: 0.8s;
  } */

  /* .esconder_menu{
  position: absolute;
  top:40px;
  right: 40px;
}
#check:checked ~ .navegadorLista{
  right: 10;
} */
}
