html {
    font-size: 62, 5%;
    font-family: 'Roboto Serif', serif;
}
.body{
    height: 800px;
    background-color: #273469;
    font-size: 1.0rem;
    line-height: 1.6rem;
    margin: 0;

}
/*-------------SECCION HEADER(NO NECESITA CAMBIO)-------------*/
.header{
    background-color:transparent;
    padding: 0; 
/* ------------------------------ */
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    
}
/*-------------SECCION HEADER DEL CONTENIDO DE LA LISTA-------------*/
.header a{
     
    font-weight: bold;
    color: #2EC4B6;
    text-decoration: none;
    padding: 8px 0;
}
/*-------------SECCION HEADER Y DENTRO NAVEGADOR-------------*/
.header .navegador{
    
    text-align: center;
    padding: 34px 0;
}
/*-------------SECCION NAVEGADOR-------------*/
.navegador{
    background-color: #FFBF69;
    border: #2EC4B6 3px solid ;
    border-radius: 10px;
    /* --------------------- */
    background-image: url(IdealTrip.png);
    background-size: 250px;
    background-repeat: no-repeat;
    background-position: top left;
}
/*-------------SECCION NAVEGADOR Y SU LISTA-------------*/
.navegador ul {
    
    margin: 0;
    padding: 0;
    list-style: none;
}
/*--------SECCION NAVEGADOR: SU LISTA Y SU CONTENIDO DE LISTA-----*/
.navegador ul li{
    
    display: inline-block;
    font-size: 25px;
    padding: 10px;
}

.navegador ul li a:hover{
 background: #FFFFFF;
 transition: all 0.3s linear;
 border-radius: 5px;
 border: 1px 1px;
}

.main{
    padding-top: 10rem;
 margin: 100px 0;
 background-color:  transparent;
}

.footer{
    background-color: green;
    border: #1b4965 3px solid;
    width: 100%;
    height: 100%;
}

.footer .grupo1 {
    width: 100%;
    max-width: 1200px;
    margin: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
    padding: 5px 50px;
}