html {
  margin: 0;
  padding: 0;
  font-size: 62, 5%;
}
.body {
  font-family: "Roboto Serif", serif;
  background-color: FBFAFF;
  background-color: #5184a4;
}

.navbar-light {
  background-color: red;
}

.header a {
  font-weight: bold;
  text-decoration: none;
  margin: 25px;
}
.header .navegador {
  margin-bottom: 100px;
  padding: 10px;
  text-align: center;
}

.navegador li {
  background-color: #a16523;
  font-size: 25px;
  display: inline-block;
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
}
.navegador ul {
  padding-left: 0;
}
.navegador {
  grid-area: header;
  border-top: #b02e0c 5px solid;
  border-bottom: #b02e0c 5px solid;
  margin-top: 0;
  text-align: left;
  background-color: #5184a4;
}

.logo {
  display: block;
  text-align: center;
  margin: auto;
  overflow: hidden;
  width: 80px;
  height: 80px;
  border-radius: 13px;
  border: 3px solid #b02e0c;
}
.logo img {
  width: 100%;
  height: 100%;
}
.grillas {
  display: grid;
  grid-template-rows: 680px;
  grid-template-columns: 2fr;
  grid-template-areas: "contenido-principal";
}

/* ------------CONTENIDO PRINCIPAL------------ */
.contenido-principal {
  grid-area: contenido-principal;
  display: flex;
  grid-template-areas: "galeria";

  text-align: center;
  grid-column-gap: 3px;
  grid-row-gap: 15px;
  align-items: center;
  justify-content: center;
  
  
  background-color: #c1bfb5;
}


/* ------------CONTENIDO PRINCIPAL------------ */

/*--------------------------------------*/

/* ------------PRUEBA ESTO------------ */


/* ------------SOBRE MI------------ */

/*--------------------------------------*/

/* ------------FOOTER------------ */

.footer {
  width: 100%;
  background-color: lightsteelblue;
  line-height: 1.6;
  text-decoration: none;
}
.footer .grupo1 {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 50px;
  padding: 45px 0;
}

.footer .grupo1 .box1 figure {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer .grupo1 .box1 figure img {
  width: 250px;
}

.footer .grupo1 .box2 h2 {
  color: red;
  margin-bottom: 25px;
  font-size: 20px;
}
.footer .grupo1 .box3 h2 {
  color: red;
  margin-bottom: 25px;
  font-size: 20px;
}
.footer .grupo1 .box2 p {
  color: black;
  margin-bottom: 10px;
}
.footer .grupo1 .red-social a {
  display: inline-block;
  text-decoration: none;
  width: 45px;
  height: 45px;
  line-height: 45px;
  color: black;
  margin-right: 10px;
  background-color: #0d2033;
  text-align: center;
  transform: all 300ms ease;
}
.footer .grupo1 .red-social a:hover {
  color: red;
}

.footer .grupo2 {
  padding: 15px 10px;
  text-align: center;
}

.footer {
  grid-area: footer;
  margin: 0;
  text-align: center;
  text-decoration: none;
  background-color: lightsteelblue;
}

.box3 ul {
  padding-left: 0;
}
.box3 li {
  list-style: none;
}
.box3 a {
  text-decoration: none;
}
/* ------------FOOTER------------ */

/* -------------------------------MEDIA QUERY---------------------------------------- */
@media screen and (max-width: 425px) {
  .navbar {
    position: fixed;
  }
  .header {
    padding: 0;
    width: 100%;
    left: 0;
    top: 0;
  }
  .header a {
    color: black;
    font-weight: bold;
    text-decoration: none;
    margin: 5px;
  }
  .header .navegador {
    padding: 5px;
    text-align: left;
  }
  .navegador li {
    font-size: 25px;
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
  }
  .navegador ul {
    padding-left: 0;
  }
  .navegador {
    border: #a16523 5px solid;
    margin-top: 0;
    text-align: left;
    background-color: beige;
  }

  .logo {
    display: block;
    text-align: center;
    margin: auto;
    overflow: hidden;
    width: 80px;
    height: 80px;
    border-radius: 13px;
    border: 3px solid gray;
  }
  .logo img {
    width: 100%;
    height: 100%;
  }

  .grillas {
    display: grid;
    grid-template-rows: 1040px;
    grid-template-columns: 1fr;
    grid-template-areas: "contenido-principal";
  }

  /* ------------VIDEO RECETA------------ */

  /*--------------------------------------*/

  /* ------------SOBRE MI------------ */


  /* ------------SOBRE MI------------ */

  /*--------------------------------------*/

  /* ------------FOOTER------------ */

  .footer .grupo1 {
    width: 100%;

    grid-template-columns: repeat(1, 1fr);
    grid-gap: 30px;
    padding: 35px 0;
  }

  .footer p {
    padding: 3px 15px;
    display: block;
  }

  .footer hr {
    height: 1px;
    background-color: black;
  }
  .box3 ul {
    padding-left: 0;
  }
  .box3 li {
    list-style: none;
  }
  .box3 a {
    text-decoration: none;
  }

  /* ------------FOOTER------------ */
}

/* @media screen and (max-width: 806px) {
    .grillas {
      display: grid;
      grid-template-rows: 470px 670px 550px 350px;
      grid-template-columns: 2fr;
      grid-template-areas:
        "contenido-principal"
        "prueba-esto"
        "video-receta"
        "sobre-mi";
    }
  
  
    .contenido-principal {
      grid-area: contenido-principal;
      display: grid;
      grid-template-areas: "galeria descripcion ";
      grid-template-columns: 40% 60%;
      text-align: center;
      grid-column-gap: 3px;
      grid-row-gap: 15px;
      align-items: center;
      justify-content: center;
      margin-bottom: 50px;
      margin-top: 190px;
      background-color: #c1bfb5;
  }
  
  
  
  .sobre-mi {
    display: grid;
    grid-template-columns: 60% 40%;
    grid-template-areas: "foto-de-perfil bigrafia-corta";
   
  } */
